.App {
  text-align: center;
}

img#product:hover {
  cursor: pointer;
  transform: rotateY(180deg) scale(1.1);
  transition: 0.8s ease-in-out transform;
}

div#selected::-webkit-scrollbar {
  display: none;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
